#i1 {
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
}

#i2 {
    background-color: aquamarine;
    border: 2px solid black;
    text-align: center;
}

#i3 {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}