<div class="bg-dark border border-warning">
    <h4 class="text-white">Demon Slayer -</h4>
    <div class="d-flex align-items-center justify-content-center">
        <div>
            <a class="btn btn-warning" role="button" routerLink="episode-one">Episode 1</a>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div>
            <a class="btn btn-warning" role="button" routerLink="episode-two">Episode 2</a>
        </div>
    </div>
</div>
<hr>
<router-outlet></router-outlet>
