<div>
    <h3 class="text-center">User Store Form</h3>

    <form [formGroup]="profileForm" (ngSubmit)="saveForm()">
        <div class="col-5">
            Name:
            <input type="text" formControlName="name" class="form-control">
            <span class="text-danger"
                [hidden]="profileForm.controls['name'].valid || profileForm.controls['name'].pristine">Name is
                required</span>
        </div>
        <div class="col-5">
            Gender:
            <input type="radio" name="gender" value="Male" formControlName="gender">Male
            <input type="radio" name="gender" value="Female" formControlName="gender">Female
            <span class="text-danger"
                [hidden]="profileForm.controls['gender'].valid || profileForm.controls['gender'].pristine">Gender
                is required</span>
        </div>
        <div class="col-5">
            Phone Number:
            <input type="text" formControlName="phoneNo" class="form-control">
            <span class="text-danger"
                [hidden]="profileForm.controls['phoneNo'].valid || profileForm.controls['phoneNo'].pristine">Phone
                number must of 10 digit</span>
        </div>
        <div class="col-5">
            Email Id:
            <input type="text" formControlName="emailId" class="form-control">
            <span class="text-danger"
                [hidden]="profileForm.controls['emailId'].valid || profileForm.controls['emailId'].pristine">Email
                ID is required</span>
        </div>
        <div formGroupName="address">
            <h4>Address Details</h4>
            <div class="col-5">
                State:

                <input type="text" formControlName="state" class="form-control">
                <span class="text-danger"
                    [hidden]="profileForm.controls['address'].get('state')?.valid || profileForm.controls['address'].get('state')?.pristine">State
                    is required</span>
            </div>
            <div class="col-5">
                City:
                <input type="text" formControlName="city" class="form-control">
                <span class="text-danger"
                    [hidden]="profileForm.controls['address'].get('city')?.valid || profileForm.controls['address'].get('city')?.pristine">City
                    is required</span>
            </div>
            <div class="col-5">
                Pin Code:
                <input type="text" formControlName="pin" class="form-control">
                <span class="text-danger"
                    [hidden]="profileForm.controls['address'].get('pin')?.valid || profileForm.controls['address'].get('pin')?.pristine">Pin
                    Code must be of 6 digits</span>
            </div>
        </div>
        <div>
            <input type="submit" value="Save" [disabled]="profileForm.invalid" class="btn btn-dark">
        </div>
    </form>

</div>