<div class="container">
    <h1>Product Information</h1>
    <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Brand</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let product of products">
                <tr>
                    <td [attr.rowspan]="product.brand.length">{{product.name}}</td>
                    <td>{{product.brand[0]}}</td>
                </tr>
                <ng-container *ngFor="let brand of product.brand; let i=index;">
                    <tr *ngIf="i!=0">
                        <td>{{brand}}</td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</div>