<h3>Employee Form</h3>
<div class="form-control">
    <form [formGroup]="empForm" (ngSubmit)="handleSubmit()">
        <div>
            <label>
                Id <input type="number" formControlName="_id">
            </label>
        </div>
        <div>
            <label>
                Name <input type="text" formControlName="name">
            </label>
        </div>
        <div>
            <label>
                Salary <input type="number" formControlName="salary">
            </label>
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
    <div>
        Info : <p *ngIf="info">{{info | json}}</p>
        <p *ngIf="info">Inserted Id: {{info.insertedId}}</p>
    </div>
</div>