<div class="row d-flex justify-content-center bg-dark border border-warning">
    <div class="d-flex justify-content-left bg bg-warning">
        <h3>Popular Anime</h3>
    </div>
    <br>
    <hr>
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BNzc5MTczNDQtNDFjNi00ZDU5LWFkNzItOTE1NzQzMzdhNzMxXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Attack On Titan</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BZjE0YjVjODQtZGY2NS00MDcyLThhMDAtZGQwMTZiOWNmNjRiXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Bleach</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BODkzMjhjYTQtYmQyOS00NmZlLTg3Y2UtYjkzN2JkNmRjY2FhXkEyXkFqcGdeQXVyNTM4MDQ5MDc@._V1_FMjpg_UX1000_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Death Note</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BZjZjNzI5MDctY2Y4YS00NmM4LTljMmItZTFkOTExNGI3ODRhXkEyXkFqcGdeQXVyNjc3MjQzNTI@._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Demon Slayer</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BZmQ5NGFiNWEtMmMyMC00MDdiLTg4YjktOGY5Yzc2MDUxMTE1XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Naruto</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BMGMyOThiMGUtYmFmZi00YWM0LWJiM2QtZGMwM2Q2ODE4MzhhXkEyXkFqcGdeQXVyMjc2Nzg5OTQ@._V1_.jpg">
        <div class="card-body">
            <h5 class="card-title">Dragon Ball Z</h5>
        </div>
    </div>
    &nbsp;
    <hr>
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BODcwNWE3OTMtMDc3MS00NDFjLWE1OTAtNDU3NjgxODMxY2UyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">One Piece</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BZmEzN2YzOTItMDI5MS00MGU4LWI1NWQtOTg5ZThhNGQwYTEzXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg">
        <div class="card-body">
            <h5 class="card-title">Fullmetal Alchemist</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BN2E2OTgzODktMjBhYy00MjJjLWI0OTgtNGYxOGNhMWMxOWE4XkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_.jpg">
        <div class="card-body">
            <h5 class="card-title">Tokyo Ghoul</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BNGY4MTg3NzgtMmFkZi00NTg5LWExMmEtMWI3YzI1ODdmMWQ1XkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_QL75_UX190_CR0,2,190,281_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Jujutsu Kaisen</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BZjNmZDhkN2QtNDYyZC00YzJmLTg0ODUtN2FjNjhhMzE3ZmUxXkEyXkFqcGdeQXVyNjc2NjA5MTU@._V1_FMjpg_UX1000_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Hunter x Hunter</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 12rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BMDkxZTJjZTEtMDRjMy00Yzk1LWI5YjItMjIwYmVlYzhlZWZhXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_FMjpg_UX1000_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Gintama</h5>
        </div>
    </div>
</div>
<hr>
