<div class="container-fluid">
    <h2>Store - Profile Infoformation</h2>
    <form [formGroup]="profile" (ngSubmit)="saveForm()">
        <div class="col-5">
            Name:<input type="text" formControlName="name" class="form-control">
            <span class="text-danger"
                [hidden]="profile.controls['name'].valid || profile.controls['name'].pristine">Name is
                required</span>
        </div>
        <div class="col-5">
            Gender:
            <input type="radio" formControlName="gender" value="male">Male
            <input type="radio" formControlName="gender" value="female">Female
            <!-- <input type="radio" name="gender" value="Female" formControlName="gender" class="form-control">Female
            <input type="radio" name="gender" value="Other" formControlName="gender" class="form-control">Other -->
            <span class="text-danger"
                [hidden]="profile.controls['gender'].valid || profile.controls['gender'].pristine">Gender is
                required</span>
        </div>
        <div class="col-5">
            Phone No:<input type="number" formControlName="phoneNo" class="form-control">
            <span class="text-danger"
                [hidden]="profile.controls['phoneNo'].valid || profile.controls['phoneNo'].pristine">Phone
                number must of 10 digit</span>
        </div>
        <div class="col-5">
            Email Id:<input type="text" formControlName="emailId" class="form-control">
            <span class="text-danger"
                [hidden]="profile.controls['emailId'].valid || profile.controls['emailId'].pristine">Email ID is
                required</span>
        </div>
        <div formGroupName="address">
            <h3>Address</h3>
            <div class="col-5">
                State:<input type="text" formControlName="state" name="" class="form-control">
                <!-- <span class="text-danger"
                    [hidden]="profile.controls['address'].get('state')?.valid || profile.controls['address'].get('state')?.pristine">State
                    is required</span> -->
            </div>
            <div class="col-5">
                City:<input type="text" formControlName="city" class="form-control">
                <!-- <span class="text-danger"
                    [hidden]="profile.controls['address'].get('city')?.valid || profile.controls['address'].get('city')?.pristine">City
                    is required</span> -->
            </div>
            <div class="col-5">
                Pin Code:<input type="number" formControlName="pin" class="form-control">
                <span class="text-danger"
                    [hidden]="profile.controls['address'].get('pin')?.valid || profile.controls['address'].get('pin')?.pristine">Pin
                    Code must be of 6 digits</span>
            </div>
        </div>
        <br>
        <div class="col-5">
            <input type="submit" value="Submit"><!--[disabled]="profile.valid"-->
        </div>
    </form>

</div>