<div class="row d-flex justify-content-center bg-dark border border-warning">
    <div class="d-flex justify-content-left bg bg-warning">
        <h3>Movies</h3>
    </div>
    <br>
    <hr>
    <div class="card bg-warning" style="width: 18rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BZGRkOGMxYTUtZTBhYS00NzI3LWEzMDQtOWRhMmNjNjJjMzM4XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">A Silent Voice</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 18rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BNDM4MWE3NGQtODlkYS00NWU5LTg3ZjMtMTEyNjljOWI4NWIxXkEyXkFqcGdeQXVyNzkzODk2Mzc@._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">I Want To Eat Your Pancreas</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 17rem;">
        <img class="card-img-top"
            src="https://cdn.anime-planet.com/anime/primary/sword-of-the-stranger-1.jpg?t=1625767749"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Sword Of The Stranger</h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 18rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BNGYyNmI3M2YtNzYzZS00OTViLTkxYjAtZDIyZmE1Y2U1ZmQ2XkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Your Name</h5>
        </div>
    </div>
</div>
<hr>
