<div class="row d-flex justify-content-center bg-dark border border-warning">
    <div class="d-flex justify-content-left bg bg-warning">
        <h3>Anime List</h3>
    </div>
    <br>
    <hr>
    <div class="card bg-warning" style="width: 16rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BNzc5MTczNDQtNDFjNi00ZDU5LWFkNzItOTE1NzQzMzdhNzMxXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><a class="nav-link link-dark" routerLink="aot">Attack On Titan</a></h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 16rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BZjE0YjVjODQtZGY2NS00MDcyLThhMDAtZGQwMTZiOWNmNjRiXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><a class="nav-link link-dark" routerLink="bleach">Bleach</a></h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 17rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BODkzMjhjYTQtYmQyOS00NmZlLTg3Y2UtYjkzN2JkNmRjY2FhXkEyXkFqcGdeQXVyNTM4MDQ5MDc@._V1_FMjpg_UX1000_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><a class="nav-link link-dark" routerLink="death-note">Death Note</a></h5>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card bg-warning" style="width: 17rem;">
        <img class="card-img-top"
            src="https://m.media-amazon.com/images/M/MV5BZjZjNzI5MDctY2Y4YS00NmM4LTljMmItZTFkOTExNGI3ODRhXkEyXkFqcGdeQXVyNjc3MjQzNTI@._V1_.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><a class="nav-link link-dark" routerLink="demon-slayer">Demon Slayer</a></h5>
        </div>
    </div>
</div>
<hr>

<router-outlet></router-outlet>
