<div>
    <h3>Find Employee</h3>
    <div>
        Id : <input type="number" [formControl]="_id" class="form-control">
    </div>
    <br>
    <input type="submit" value="Get" (click)="handleClick(_id.value)">
    <div>
        <table class="table table-border">
            <thead>
                <tr>
                    <th>Employees Id</th>
                    <th>Name</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="employee" style="text-align: center;">
                    <td>{{employee._id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.salary}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>